
body{
    margin: 0;
    padding: 0;
}
.calculator-grid{
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns:  repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    font-size: 2em;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    background-color: #FAC9B8;
}
.calculator-grid>button:hover{
    background-color: #DB8A74;
}

.large-btn{
    grid-column: span 2;
}

.screen{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}
.screen .previousOp{
    color: gray;
    font-size: 1.5em;
}
.screen .currentOp{
    color: white;
    font-size: 2.5em;
}